#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_AU.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=10.0.10.1 --ip=10.0.10.254 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=pxeserver.edu
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$P2F4bqzRyos38v5L$w.Cwz9Lxrgkq/UNewTEo22yHdZlyfSIrKsrvg/fRCtqGoU8ZKDLwlNIMzCQHvCLKMA4rq0WPEBDvpTkzxISeW.
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --usage="Development/Test"
# System timezone
timezone Australia/Sydney --isUtc --nontp
user --groups=wheel --name=eric --password=$6$EU58vuonGRJCdahT$59WwnXu6qJoLR4jFRcAc8VAkINxSecQ2KsuL0dJFfJeberi4dUujtGQaNMydvjYnaAsFbgonNw7bZ1XF5NL9a0 --iscrypted --gecos="eric"

%packages
@^graphical-server-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
